@import ./../abstracts/_variables
@import ./../abstracts/_mixins


.mobile-menu 
    @include position($position-type: fixed)
    @include colors($bg-color: --colors-neutral-800, $color: --colors-neutral-100)
    @include paddingThree($p-t: 1rem, $p-lr: 0, $p-b: 4rem)
    @include shadow($shadow-type: outset, $offset-x: 0, $offset-y: 0, $blur: 2rem, $spread: 0, $color: rgba(black, 0.5))    
    
    display: block
    bottom: 0
    right: 5%
    width: min(360px, 90%)
    z-index: 2
    border-radius: 0.5rem 0.5rem 0 0

    /* Animate In */
    visibility: hidden
    @include transition($transition: 0.5s ease-out, $transform: translateY(130%))
    

    h2
        color: var(--colors-neutral-100)
        margin: 0.83rem 0
        @include paddingThree($p-t: 1rem, $p-lr: 0.85rem, $p-b: 0)
        

    .close
        @include position($position-type: absolute)
        top: 1.5rem
        right: 1rem

    .menu
        display: flex
        flex-flow: column
        list-style: none
        gap: 0.65rem
        margin: 0 1rem
        padding: 0

        .menu--item a 
            display: block
            padding: 1rem
            text-decoration: none
            color: var(--colors-neutral-100)
            cursor: pointer

.active-link
    background-color: var(--colors-neutral-700)
    @include fontWeight($styles: $bold)
    border-radius: 0.3rem
    

.open 
    /* Animate In */
    visibility: visible
    @include transition($transition: 0.75s ease-in, $transform: translateY(0))
    