@import './../abstracts/_variables'
@import './../abstracts/_mixins'


.about-container
    @include paddingTwo($p-tb: 2rem , $p-lr: 1rem)

    .about-title
        color: var(--colors-neutral-900)
        font-size: min(1rem, 2vh)
        @include fontWeight($styles: $bold)

    .about-slogan
        color: var(--colors-primary-600)
        font-size: min(1.75rem, 5vh)
        @include fontWeight($styles: $bold)

    .about-info 
        padding-bottom: 2rem

.points 
    .points-grid
        display: grid

        .point
            padding: 3rem 1rem 4rem

        .primary-point
            @include colors($bg-color: --colors-neutral-800, $color: --colors-neutral-100)
            
            p
                color: var(--colors-neutral-100)
                width: min(25rem, 100%)

        .point--desc
            font-size: 0.9rem
            @include fontWeight($styles: $light)
            line-height: 1.5rem  
            
        .point--title
            &::after
                content: ''
                display: block
                margin-top: 0.7rem
                @include border($b-width: 2px, $b-style: solid, $color: --colors-primary-600)
                border-radius: 4px
                border-spacing: 1px
                @include shadow($shadow-type: inset, $offset-x: 0, $offset-y: 1px, $blur: 1px, $spread: 0, $color: rgba(var(--colors-neutral-900), 0.5) )
                width: 1.75rem

        .secondary-point
            @include colors($bg-color: --colors-primary-600, $color: --colors-neutral-900)

        .secondary-point--title
            &::after
                content: ''
                display: block
                margin-top: 0.7rem
                @include border($b-width: 2px, $b-style: solid, $color: --colors-neutral-900)
                border-radius: 4px
                border-spacing: 1px
                @include shadow($shadow-type: inset, $offset-x: 0, $offset-y: 1px, $blur: 1px, $spread: 0, $color: rgba(black, 0.5) )
                width: 1.75rem

        .point-icon
                @include size($height: 3rem, $min-height: 2rem, $width: 3rem, $min-width: 2rem)
                
        #natural-substance
            @include bgImage($src: $symbol-natural-substance, $bg-size: contain, $bg-position: center, $bg-repeat: no-repeat)
            
        #burnefficency
            @include bgImage($src: $symbol-burn-effiency, $bg-size: contain, $bg-position: center, $bg-repeat: no-repeat)

        #native
            @include bgImage($src: $symbol-native, $bg-size: contain, $bg-position: center, $bg-repeat: no-repeat)

        #airquality
            @include bgImage($src: $symbol-air-quality, $bg-size: contain, $bg-position: center, $bg-repeat: no-repeat)