@import ./../abstracts/_mixins



.contact-form-wrapper 
    width: min(90%, 25em)
    background-color: var(--colors-neutral-800)
    padding: 3rem 1rem
    margin-inline: auto

    h2 
        color: var(--colors-primary-800) 

    .contact-grid 
        display: grid
        margin-inline: auto
        padding-block: 2rem
        gap: 1rem

        .contact-method 
            display: flex
            flex-flow: row
            justify-content: flex-start
            align-items: center
            gap: 0.5rem
            
            i, p 
                color: var(--colors-neutral-100)

            p 
                margin: 0

    .contact-form 
        display: flex
        flex-flow: column
        margin-inline: auto 

        .form-control
            display: flex
            flex-flow: column
            gap: 1rem
            margin-bottom: 1rem
            color: var(--colors-neutral-100)

            label
                font-size: 0.75rem
                @include fontWeight($styles: bold)
                

            input, textarea
                background-color: var(--colors-neutral-600)
                outline: none
                border: none
                padding: 1rem
                font-family: Bitter
                @include fontWeight($styles: bold)
                

            textarea
                resize: none

        button 
            width: min(100%, 10em)

#map 
    min-height: 50vh
    z-index: 0