@import './../abstracts/_variables'
@import './../abstracts/_mixins'

.hero
    position: relative
    
    .hero-container
        @include size($height: 100vh, $min-height: 100vh, $width: 100%, $min-width: 100%)

        > *
            height: 50%
            width: 100%

        .hero-image
            @include bgImage($src: $bg-image , $bg-size: cover, $bg-position: center, $bg-repeat: no-repeat)
            @include shadow($shadow-type: inset, $offset-x: 0, $offset-y: 0, $blur: 0, $spread: 100vmax, $color: #00000066)
            
        .hero-content
            background-color: white         

            .hero-content-container
                @include padding($p: 1rem)
                                

            .hero-intro
                @include margin($m: 0 auto)

                .slogan
                    font-size: 1rem
                    @include fontWeight($styles: $regular)
                    
                    color: var(--colors-neutral-500)

            .store-link-btn
                @include marginTwo($m-tb: 3rem, $m-lr: 0)
                @include button($btn-type: "store-link")
                width: min(20rem, 100%)

    .scroll-down
        @include position($position-type: absolute)
        bottom: 2rem
        left: 2rem

        &::after
            @include after($aft-img: $scroll-down-arrow, $aft-size: contain, $aft-pos: center, $aft-repeat: no-repeat)
            margin-left: 1rem
            padding: 0.6rem
            
        
        