@use '../abstract/' as *;

.nav-menu {
  display: none;
}

@include mediaQuery(lg) {
  .navbar {
    @include flex($flow: row, $align-items: center, $justify-content: flex-end);
    gap: 1rem;

    .nav-menu {
      @include flex(
        $flow: row,
        $align-items: center,
        $justify-content: flex-end
      );
      gap: 1rem;
      list-style: none;
      padding: 0;

      .nav-link > a {
        text-decoration: none;
        color: var(--colors-neutral-100);
      }
    }
  }
}
