@import ./../abstracts/_variables
@import ./../abstracts/_mixins

.votives
    @include colors($bg-color: --colors-neutral-800, $color: --colors-primary-600)
    text-align: center
    @include paddingTwo($p-tb: 4rem, $p-lr: 0)

    .votives-image
        @include padding($p: 1rem)
        position: relative
        height: 90%
        
        > *         
            @include image($img-fit: cover)

            