@import './variables'
@import './styled-components/atoms'
@import './styled-components/molecules'

body 
    @include font-family
    margin: 0
    padding: 0

h1
    @include h1($color: $colors-primary-600)

h2
    @include h2($color: $colors-primary-600)

p 
    @include p($color: $colors-neutral-900)
    
.hero-content
    padding-top: 1rem
    position: relative

    .hero-intro
        display: flex
        flex-flow: column
        gap: 0.5rem
        justify-content: space-evenly

.hero-image
    @include image($src: $bg-image, $bg-size: cover, $bg-position: center, $bg-repeat: no-repeat )
    height: 50vh
    width: 100%
    box-shadow: inset 0 0 0 100vmax #00000057

.store-link-btn
    @include button
    margin: 1rem 0

@media (min-width: 48em )
    .h-md-100 
        height: 100vh

    .hero-content

        .hero-intro
            padding-left: 1.5rem

    .store-link-btn 
        width: min(35rem, 25rem)
        padding: 1.25rem 1rem
        font-size: 1rem

@media (min-width: 160em)

    .hero-content
        .hero-intro
            padding-left: 2vw

    .store-link-btn 
        width: 25em
        padding: 1.5rem 1.25rem
        margin-left: 1rem 
        font-size: 1.5rem  