@import './variables'
@import './styled-components/atoms'
@import './styled-components/molecules'

body 
    @include font-family
    margin: 0
    padding: 0

h1
    @include h1($color: $colors-primary-600)

h2
    @include h2($color: $colors-primary-600)

p 
    @include p($color: $colors-neutral-900, $l-height: 1.75rem)

.primary-sm
    color: $colors-primary-600

.secondary-sm
    color: $colors-neutral-900

.primary
    color: $colors-neutral-100
    background-color: $colors-neutral-700

    p
        color: $colors-neutral-100

.secondary
    color: $colors-neutral-900
    background-color: $colors-primary-800



.hero-content
    padding-top: 1rem
    position: relative

    .hero-intro
        display: flex
        flex-flow: column
        gap: 0.5rem
        justify-content: space-evenly

        .slogan
            color: $colors-neutral-500
            font-size: 1rem
            @include fontWeight($styles: $regular)
            line-height: 1.5rem
                
            
.scroll-down
    position: absolute
    left: 1rem
    font-size: 0.6rem
    @include fontWeight($styles: $semi-bold)
    
    
    &::after
        content: ''
        position: absolute
        margin-left: 1rem
        bottom: 0.65rem
        padding: 0.6rem
        @include image($src: $scroll-down-arrow, $bg-size: contain, $bg-position: center, $bg-repeat: no-repeat)
        
            
.hero-image
    @include image($src: $bg-image, $bg-size: cover, $bg-position: center, $bg-repeat: no-repeat )
    height: 50vh
    width: 100%
    box-shadow: inset 0 0 0 100vmax #00000066

.store-link-btn
    @include button
    margin: 3em 0


.social-media
    @include social-media()

    .icon
        @include sm-icon()


.about-title
    font-size: min(1rem, 2vh)
    color: $colors-neutral-900
    @include fontWeight($styles: $bold)
    
.about-slogan
    font-size: min(2.5rem, 5vh)
    color: $colors-primary-600
    @include fontWeight($styles: $bold)
    line-height: 3rem

.point 
    display: flex
    flex-flow: column
    padding: 2rem 1rem 7.5rem
    width: 100%

    .point-title
        font-size: 1.1rem
        @include fontWeight($styles: bold)
        padding-bottom: 1.5rem

    .primary-title
        &::after
            @include point-title($bg-color: $colors-primary-600)
            

    .secondary-title
        &::after
            @include point-title($bg-color: $colors-neutral-900)
    
    .ps 
        display: flex
        flex-flow: column
        justify-content: start
        align-items: self-start
        float: left
        height: 2.5rem
        width: 2.5rem  
        margin-bottom: 0.5rem

    .ps-nature
        @include image($src: $symbol-natural-substance, $bg-size: contain, $bg-position: center, $bg-repeat: no-repeat)
    
    .ps-burnefficency
        @include image($src: $symbol-burn-effiency, $bg-size: cover, $bg-position: center, $bg-repeat: no-repeat)
        
    .ps-native
        @include image($src: $symbol-native, $bg-size: cover, $bg-position: center, $bg-repeat: no-repeat)

    .ps-airquality
        @include image($src: $symbol-air-quality, $bg-size: cover, $bg-position: center, $bg-repeat: no-repeat)
        
        
.point-order-1
    order: 1
        
.point-order-2
    order: 2

.point-order-3
    order: 3
        
.point-order-4
    order: 4

    
@media (min-width: 48em)
    .h-md-100 
        height: 100vh

    .hero-content
        margin-top: 5rem
        padding-top: 5rem
        padding-left: 0.75rem

        .hero-intro
            padding-left: 1.5rem

            .slogan 
                font-size: 1.5rem

    .scroll-down 
        bottom: 1rem

    .store-link-btn 
        width: 28rem
        padding: 1.25rem 1rem
        font-size: 1rem

    .point-order-1
        order: 1
            
    .point-order-2
        order: 2

    .point-order-3
        order: 4
            
    .point-order-4
        order: 3
    

@media (min-width: 60em)

    .point-order-1
        order: 1
            
    .point-order-2
        order: 2

    .point-order-3
        order: 3
            
    .point-order-4
        order: 4
        

@media (min-width: 160em)

    .hero-content
        .hero-intro
            padding-left: 2vw

    .store-link-btn 
        min-width: 25em
        padding: 1.5rem 1.25rem
        margin-left: 1rem 
        font-size: 1.5rem  