@import ./core/root
@import ./core/typography
@import ./abstracts/mixins

// Layouts
@import ./layout/_grid
@import ./layout/_footer
@import ./layout/_mobilenav
@import ./layout/_navbar
@import ./layout/_header

//Components 
@import ./components/_slider
@import ./components/_hero
@import ./components/_about
@import ./components/_votives
@import ./components/_index
@import ./components/_skincare
@import ./components/_instagramGallery
@import ./components/_button
@import ./components/_modal
@import ./components/_table
@import ./components/_contact

// Theme
@import ./core/_theme
    
/* Media Queries - Breakpoint A (48em)
@include mediaQuery($breakpoint: breakpointA)

    \:root 
        @include root($breakpoint: breakpointA)

    .hero
        .hero-container
            > *
                height: 100%
                width: 50%

            .hero-image
                order: 2    
            
            .hero-content    
                order: 1

                .hero-content-container
                    @include padding($p: 2rem)
                    padding-top: 5rem

    .about-container
        @include paddingThree($p-t: 5%, $p-lr: 0, $p-b: 25%)

        .about-slogan
            font-size: 3rem


    .points-grid
        grid-template-columns: repeat(2, 1fr)

        .point
            padding: 3rem 1rem 8rem
        
    /* Slider
    .slider

        .slideshow-container, .slideshow-container-b
            height: 60vh
            min-height: 60vh

            .slide.slide-reverse
                flex-flow: row-reverse

            .slide
                flex-flow: row

                > * 
                    flex-basis: 100%
                
                .slide-image, .slide-info
                    height: 100%

                .slide-info 
                    .slide-info-container
                        @include paddingTwo($p-tb: 3.5vw, $p-lr: 2vw)
                        p
                            width: 80%

        .slider-btn
            bottom: 2rem
            top: auto

        .dots-container
            left: 22vw
            justify-content: flex-start

        .dots-container-b
            right: 22vw
            justify-content: flex-end

    .votives
        .votives-image
            @include padding($p: 2rem)

    .skincare-section 
        .skincare-row-height
            min-height: 60vh
            height: 60vh

            .skincare-section--container, .skincare-section--img
                min-height: 100%
                height: 100%

            .skincare-section--info 
                padding: 3rem

                .skincare-section--ul
                    width: 80%
                    line-height: 1.5rem

    .gallery-title
        padding-top: 3rem

    .gallery 
        grid-template-columns: repeat(2, 1fr)
        gap: 1.5rem
        padding: 3.5rem
    

    #map
        @include size($height: 100%, $min-height: 100%, $width: 100%, $min-width: 50%)


    .contact-form-wrapper 
        margin-left: 1rem

    .contact-grid 
        grid-template-columns: 1fr 1fr


    footer
        .social-media-footer
            justify-content: flex-end

            .top
                display: block

    


@include mediaQuery($breakpoint: breakpointB) 
    .mobile-btn
        display: none
    
    .navbar
        display: flex

    .points-grid
        grid-template-columns: repeat(4, 1fr)

        .point
            padding: 3rem 1rem 8rem

    .gallery 
        grid-template-columns: repeat(3, 1fr)
        gap: 2rem
        padding: 5rem

    

// @include mediaQuery($breakpoint: breakpointC)

//     \:root 
//         @include root($breakpoint: breakpointC)

//     h1 
//         font-size: 5em 

//     p 
//         font-size: 1.75rem
//         line-height: 2.5rem

//     .btn 
//         font-size: 1.25rem
//         padding: 1.25rem 2.5rem
//         border-radius: 0.5rem

//     .container-fluid
//         padding: 0 1vw

//     header 
//         .container
//             width: 80%

//             .navbar

//                 .nav-menu
//                     gap: 2rem
//                     font-size: 1.5rem

//                     .btn-wrapper
//                         min-width: 20rem
//                         gap: 1.5rem
                        

    
//     .hero
//         .hero-container
//             .hero-content
//                 .hero-content-container
//                     @include padding($p: 6.75vw 2vw)

//                     .store-link-btn
//                         @include marginThree($m-t: 0.75rem , $m-lr: 0, $m-b: 2vw)
//                         @include button($btn-type: "store-link-xl")
//                         width: 80%

//                     .social-media
//                         gap: 3rem
//                         margin-left: 1vw
                            
//                         .icon
//                             border-width: 0.2rem
//                             @include size($height: 1.5vw, $min-height: 1.5vw, $width: 1.5vw, $min-width: 1.5vw)
//                             @include flex($flow: column, $justify-content: center, $align-items: center)
//                             font-size: 1.25rem

//                         .primary-icon
//                             @include colors($bg-color: none, $color: --colors-primary-600)

//                         .secondary-icon
//                             @include colors($bg-color: none, $color: --colors-neutral-900)   

//                 .hero-intro
//                     .slogan
//                         margin: 2rem 0
//                         font-size: 2rem
//                         line-height: 2.25rem
//         .scroll-down
//             bottom: 1vw
//             left: 1vw       
//             width: 10rem

//             .scroll-down-wrapper 
//                 display: grid
//                 grid-template-columns: 90% 10%
//                 gap: 1rem
                
//                 .scroll-down--title
//                     font-size: 1rem

//                 .scroll-down--arrow
//                     @include bgImage($src: $scroll-down-arrow, $bg-size: 1.25rem, $bg-position: center, $bg-repeat: no-repeat)

//     .about-container
//         .about-title
//             font-size: 1.75rem

//         .about-slogan
//             font-size: 2.5vw

//         .about-info
//             font-size: 1.25rem
        
//     .points 
//         .points-grid

//             .primary-point p
//                 width: 80%

//             .point-icon
//                 $dimension: 1.15rem * 3
//                 @include size($height: $dimension , $min-height: $dimension, $width: $dimension, $min-width: $dimension )
                

//             .point
//                 padding: 2vw 1vw 6vw

//             .point--desc
//                 font-size: 1.15rem
//                 line-height: 2.3rem

//             .point--title
//                 font-size: 1.5rem

//                 &::after
//                     margin-top: 0.5vw
//                     border-width: 4px
//                     width: 1vw
        
//     .votives
//         @include paddingTwo($p-tb: 4vw, $p-lr: 0)

//         h2
//             font-size: 3rem

//         p
//             font-size: 1.25rem
        
//         .votives-image
//             padding: 2vw

//     .votives-content-container
//         width: 100%

//     .slider
//         .slideshow-container, .slideshow-container-b
//             .slide
//                 .slide-info
//                     .slide-info-container
//                         @include paddingTwo($p-tb: 4vw, $p-lr: 4vw)

//                         h2
//                             font-size: 3rem
                        
//                         ul 
//                             font-size: 1.5rem
//                             width: 80%

//         .slider-btn
//             bottom: 4vw
//             @include size($height: 1vw, $min-height: 1vw, $width: 2.25vw, $min-width: 2.25vw)
//             font-size: 0.6vw
//             @include fontWeight($styles: bold)
            

//         .dots-container, .dots-container-b
//             left: 22vw
//             bottom: 4rem

//             .dot
//                 @include padding($p: 0.35vw)
//                 @include marginTwo($m-tb: 0, $m-lr: 0.4vw)

//             .active
//                 padding: 0.4vw

//     .skincare-section--info
//         padding: 10vw

//         h2
//             font-size: 3rem

//         .skincare-section--ul
//             font-size: 1.5rem !important
//             line-height: 3rem !important

//     .gallery-title 
//         padding: 7.5vh 0 2vh
//         font-size: 3rem

//     .contact-form-wrapper 
//         width: 80%
//         padding: 5vw 1rem

//         h2 
//             font-size: 3rem

//         .contact-grid 
//             padding-block: 2vw
//             gap: 1rem

//             .contact-method 
//                 gap: 1rem

//                 i 
//                     font-size: 1.5rem

//                 p
//                     font-size: 1.45rem

//         .contact-form 
//             .form-control
//                 gap: 2rem
//                 margin-bottom: 3rem

//                 label
//                     font-size: 1.25rem
                   
//                 input, textarea
//                     padding: 1vw
//                     font-size: 1rem
                   
//                 textarea
//                     resize: none

//             button 
//                 width: min(100%, 10em)

//     footer
        
//         .social-media-footer
//             gap: 2rem
            
//             .media-icon
//                 font-size: 2rem

//             .top
//                 padding: 1rem 1.25rem

//         .copyright
//             font-size: 0.7vw