@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

// Typography
$font-family-bitter: Bitter, serif
$font-family-georgia: Georgia, serif
$font-family-arial: Arial, sans-serif

@mixin typography
    font-family: $font-family-bitter, $font-family-georgia, $font-family-arial
    font-size: 10em
    color: $colors-primary-800

// Colors
$colors-primary-800: #FCC32C
$colors-primary-700: #F1B002
$colors-primary-600: #fecb3d
$colors-primary-500: #f5cb5c
$colors-primary-400: #FFF6B6
$colors-primary-300: #FFECBC 
$colors-primary-200: #fffbde
$colors-primary-100: #fff8e6

$colors-neutral-900: #000000
$colors-neutral-500: #1C1C1C
$colors-neutral-100: #FFFFFF

//Headings




//Components
@mixin button
    background-color: $colors-primary-600
    color: $colors-neutral-900
    padding: 1rem
    border: none
    