@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

// Typography
$font-family-bitter: Bitter, serif
$font-family-georgia: Georgia, serif
$font-family-arial: Arial, sans-serif

@mixin font-family
    font-family: $font-family-bitter, $font-family-georgia, $font-family-arial

//Headings

@mixin h1($color)
    color: $color
    font-size: 6rem
    font-weight: bold

@mixin h2($color)
    color: $color
    font-size: 3rem
    font-weight: lighter  

@mixin h3($color)
    color: $color
    font-size: 2.75rem
    font-weight: light

@mixin p($color)
    font-size: 2.75rem
    color: $color

    
// Images
$bg-image: './../src/assets/3f63f54e-b823-4e15-9cf3-7d9aba23bdfa.jpg'
$arrow-btn: './../src/assets/icons/side-arrow.svg'
$scroll-down-arrow: './../src/assets/icons/scroll-down-arrow.svg'

// Colors
$colors-primary-800: #FCC32C
$colors-primary-700: #F1B002
$colors-primary-600: #fecb3d
$colors-primary-500: #f5cb5c
$colors-primary-400: #FFF6B6
$colors-primary-300: #FFECBC 
$colors-primary-200: #fffbde
$colors-primary-100: #fff8e6

$colors-neutral-900: #000000
$colors-neutral-700: #1C1C1C
$colors-neutral-500: #848484
$colors-neutral-300: #DFDFDF
$colors-neutral-100: #FFFFFF

// Shadows


// Social Media Child
@mixin icon($n, $color, $size, $padding)
    &:nth-child(#{$n})
        color: $color
        padding: $padding
        font-size: $size
        
    
