@use '../../styles/abstract/' as *;
@use './Form/form.scss';

// Mobile Button
.mobileBtn {
  @include positionAlign(true, 'Bottom Right', 2.5rem, 2.5rem);
  @include colors(var(--colors-neutral-100), var(--colors-primary-500));
  @include padding(1.1rem);
  @include borderRadius(100%);
  @include shadow('default', 0 0 1.1rem 0.5rem, var(--colors-primary-500));
  border: none;
  z-index: 2;

  .hamburger {
    @include position(relative);
    @include flex(column nowrap, space-around, self-end);
    @include size(
      $min-height: 1.5rem,
      $min-width: 1.7rem,
      $height: 1.5rem,
      $width: 1.7rem
    );

    span { 
      @include size(
        $height: 3px,
        $width: 100%,
        $min-height: 3px,
        $min-width: 100%
      );
      background: var(--colors-neutral-100);
      @include borderRadius(0.5rem);

      @include nth-type(1) {
        width: 90%;
        min-width: 90%;
      }

      @include nth-type(3) {
        width: 70%;
        min-width: 70%;
      }
    }
  }
}
