@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: Bitter, serif, Georgia, serif, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fecb3d;
  font-weight: 700;
  font-size: clamp(2rem, 3.5vw, 8rem);
}

h2 {
  color: #fecb3d;
}

p {
  color: #000000;
  line-height: 2rem;
  font-size: 0.75rem;
  font-weight: 100;
}

.primary-sm {
  color: #fecb3d;
}

.secondary-sm {
  color: #000000;
}

.primary {
  color: #FFFFFF;
  background-color: #1C1C1C;
}
.primary p {
  color: #FFFFFF;
}

.secondary {
  color: #000000;
  background-color: #FCC32C;
}

.hero-content {
  padding-top: 1rem;
  position: relative;
}
.hero-content .hero-intro {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  justify-content: space-evenly;
}
.hero-content .hero-intro .slogan {
  color: #848484;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.scroll-down {
  position: absolute;
  left: 1rem;
  font-size: 0.6rem;
  font-weight: 600;
}
.scroll-down::after {
  content: "";
  position: absolute;
  margin-left: 1rem;
  bottom: 0.65rem;
  padding: 0.6rem;
  background: url("./../src/assets/icons/scroll-down-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-image {
  background: url("./../src/assets/3f63f54e-b823-4e15-9cf3-7d9aba23bdfa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  min-width: 100%;
  box-shadow: inset 0 0 0 100vmax #00000066;
}

.store-link-btn {
  background: url("./../src/assets/icons/side-arrow.svg");
  background-size: 1.5rem;
  background-position: 95%;
  background-repeat: no-repeat;
  color: #848484;
  background-color: #FFFFFF;
  text-align: left;
  outline: none;
  padding: 1rem;
  border: none;
  min-width: 20rem;
  border-left: #fecb3d 0.25rem solid;
  box-shadow: 0px 19px 41px 3px rgba(206, 206, 206, 0.5);
  font-size: 0.75rem;
  margin: 3em 0;
}

.social-media {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  width: 13rem;
  min-width: 13rem;
}
.social-media .icon {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  border: 0.1rem solid #DFDFDF;
  padding: 0.5rem;
  min-height: 2rem;
  min-width: 2rem;
  background-color: #FFFFFF;
}

.about-title {
  font-size: min(1rem, 2vh);
  color: #000000;
  font-weight: 700;
}

.about-slogan {
  font-size: min(2.5rem, 5vh);
  color: #fecb3d;
  font-weight: 700;
  line-height: 3rem;
}

.point {
  display: flex;
  flex-flow: column;
  padding: 2rem 1rem 7.5rem;
}

.point-title {
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 48em) {
  .h-md-100 {
    height: 100vh;
  }

  .hero-content {
    margin-top: 5rem;
    padding-top: 5rem;
    padding-left: 0.75rem;
  }
  .hero-content .hero-intro {
    padding-left: 1.5rem;
  }
  .hero-content .hero-intro .slogan {
    font-size: 1.5rem;
  }

  .scroll-down {
    bottom: 1rem;
  }

  .store-link-btn {
    width: 28rem;
    padding: 1.25rem 1rem;
    font-size: 1rem;
  }
}
@media (min-width: 160em) {
  .hero-content .hero-intro {
    padding-left: 2vw;
  }

  .store-link-btn {
    min-width: 25em;
    padding: 1.5rem 1.25rem;
    margin-left: 1rem;
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
