@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --colors-primary-100: #fff8e6;
  --colors-primary-200: #fffbde;
<<<<<<< HEAD
  --colors-primary-300: #ffecbc;
  --colors-primary-400: #fff6b6;
  --colors-primary-500: #f5cb5c;
  --colors-primary-600: #fecb3d;
  --colors-primary-700: #f1b002;
  --colors-primary-800: #fcc32c;
  --colors-neutral-100: #ffffff;
  --colors-neutral-300: #dfdfdf;
  --colors-neutral-500: #848484;
  --colors-neutral-600: #171717;
  --colors-neutral-700: #2a2a2a;
  --colors-neutral-800: #1c1c1c;
  --colors-neutral-900: #000000;
  --colors-feedback-success-100: #c0f1c4;
  --colors-feedback-success-900: #0db84c;
  --colors-feedback-error-100: #f7cccc;
  --colors-feedback-error-900: #ff5353;
=======
  --colors-primary-300: #FFECBC;
  --colors-primary-400: #FFF6B6;
  --colors-primary-500: #f5cb5c;
  --colors-primary-600: #fecb3d;
  --colors-primary-700: #F1B002;
  --colors-primary-800: #FCC32C;
  --colors-neutral-100: #FFFFFF;
  --colors-neutral-300: #DFDFDF;
  --colors-neutral-500: #848484;
  --colors-neutral-600: #171717;
  --colors-neutral-700: #2A2A2A;
  --colors-neutral-800: #1C1C1C;
  --colors-neutral-900: #000000;
>>>>>>> badc4c595c5347b0b363af281e39aa3006faae62
  --font-family-Bitter: Bitter;
  --font-family-Arial: Arial;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
}

body {
<<<<<<< HEAD
  margin: 0;
  font-family: var(--font-family-Bitter), var(--font-family-Arial);
}

.container {
  width: min(90%, 100em);
  margin-inline: auto;
}

.container-fluid {
  padding: 0 1rem;
  margin-inline: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-basis > * {
  flex-basis: 100%;
}

[class^=col-] {
  flex-basis: 100%;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 5rem;
}

@media (min-width: 48rem) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }
}
@media (min-width: 75rem) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
  }
}
@media (min-width: 150rem) {
  .col-xl-1 {
    flex: 0 0 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
  }
}
.primary {
  background-color: var(--colors-neutral-800);
  color: var(--colors-neutral-100);
}

.secondary {
  background-color: var(--colors-primary-600);
  color: var(--colors-neutral-900);
}

.primary--title,
.primary--link {
  color: var(--colors-primary-800);
}

.secondary--title,
.secondary--link {
  color: var(--colors-neutral-900);
}

.h-1 {
  font-size: 1.75rem;
}

.h-2 {
  font-size: 1.75rem;
}

.h-3 {
  font-size: 1.75rem;
}

.h-4 {
  font-size: 1.75rem;
}

header {
  position: absolute;
  min-width: 100%;
  z-index: 1;
}

.text-center {
  text-align: center;
}

.hyperlink {
  text-decoration: underline;
  font-weight: bold;
}

.footer {
  background-color: var(--colors-neutral-900);
  color: var(--colors-neutral-100);
}
.footer .social-media-footer {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}
.footer .social-media-footer .media-icon,
.footer .social-media-footer .media-icon--link {
  font-size: 1.5rem;
  color: var(--colors-neutral-100);
}

@media (min-width: 48rem) {
  .social-media-footer {
    justify-content: flex-end !important;
  }
}
.nav-menu {
  display: none;
}

@media (min-width: 75rem) {
  .navbar {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  .navbar .nav-menu {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
  .navbar .nav-menu .nav-link > a {
    text-decoration: none;
    color: var(--colors-neutral-100);
  }
}
.mobile-btn {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  background-color: var(--colors-primary-500);
  color: var(--colors-neutral-100);
  padding: 1.1rem;
  border-radius: 100%;
  box-shadow: 0 0 1.1rem 0.5rem var(--colors-primary-500);
  border: none;
  z-index: 2;
}
.mobile-btn .hamburger {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: self-end;
  min-height: 1.5rem;
  min-width: 1.7rem;
  height: 1.5rem;
  width: 1.7rem;
}
.mobile-btn .hamburger span {
  min-height: 3px;
  min-width: 100%;
  height: 3px;
  width: 100%;
  background: var(--colors-neutral-100);
  border-radius: 0.5rem;
}
.mobile-btn .hamburger span:nth-of-type(1) {
  width: 90%;
  min-width: 90%;
}
.mobile-btn .hamburger span:nth-of-type(3) {
  width: 70%;
  min-width: 70%;
}

@media (min-width: 75rem) {
  .mobile-btn {
    display: none;
  }
}
.hero {
  min-height: 100vh;
  min-width: 100%;
  height: 100vh;
  width: 100%;
}
.hero > * {
  height: 50%;
  width: 100%;
}
.hero .hero-image {
  background: url("../src/assets/3f63f54e-b823-4e15-9cf3-7d9aba23bdfa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.4);
}
.hero .hero-content h1 {
  margin: 1.75rem 0 0;
}
.hero .hero-content .pt-5 {
  padding: 0;
}
.hero .hero-content .slogan {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0.5rem 0;
  color: var(--colors-neutral-500);
}
.hero .store-link-btn {
  margin: 0.75rem 0 1.5rem;
  padding: 1rem;
  background: url("./../src/assets/icons/side-arrow.svg");
  background-size: 1.5rem;
  background-position: 95%;
  background-repeat: no-repeat;
  background-color: var(--colors-neutral-100);
  color: var(--colors-neutral-500);
  box-shadow: 0 1rem 3.5rem 0.1rem rgba(206, 206, 206, 0.5);
  font-family: var(--font-family-Bitter), var(--font-family-Arial);
  border: none;
  border-left: var(--colors-primary-600) 0.25rem solid;
  cursor: pointer;
  width: min(25rem, 100%);
  font-size: 0.75rem;
  text-align: left;
}
.hero .scroll-down {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: min(25vw, 8rem);
}
.hero .scroll-down .scroll-down-wrapper {
  display: grid;
  grid-template-columns: 90% 10%;
}
.hero .scroll-down .scroll-down--title {
  font-size: min(3vw, 0.8rem);
}
.hero .scroll-down .scroll-down--arrow {
  background: url("./../src/assets/icons/scroll-down-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 48rem) {
  .hero > * {
    height: 100%;
    width: 50%;
  }
  .hero .hero-content {
    order: 1;
  }
  .hero .hero-content .pt-5 {
    padding-top: 5rem;
  }
  .hero .hero-image {
    order: 2;
  }
}
@media (min-width: 75rem) {
  .hero > * {
    height: 100%;
    width: 100%;
  }
}
.social-media {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 1rem;
}
.social-media .icon {
  border: 1px solid var(--colors-neutral-300);
  border-radius: 50%;
  min-height: 1rem;
  min-width: 1rem;
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
}
.social-media .icon a {
  color: inherit;
}
.social-media .primary-icon {
  color: var(--colors-primary-600);
}
.social-media .secondary-icon {
  color: var(--colors-neutral-900);
=======
  font-family: var(--font-family-Bitter), var(--font-family-Arial);
}

h1 {
  font-size: clamp(1.75rem, calc(1.1rem + 3.25vw), 5rem);
>>>>>>> badc4c595c5347b0b363af281e39aa3006faae62
}

.btn {
  font-family: var(--font-family-Bitter), var(--font-family-Arial);
  font-weight: 700;
  padding: 0.75rem;
  border-radius: 0.25rem;
<<<<<<< HEAD
  font-size: 0.9rem;
  cursor: pointer;
  font-family: var(--font-family-Bitter), var(--font-family-Arial);
  font-weight: var(--font-weight-700);
=======
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
>>>>>>> badc4c595c5347b0b363af281e39aa3006faae62
}

.btn-primary {
  background-color: var(--colors-primary-600);
  color: var(--colors-neutral-900);
}

.btn-secondary {
<<<<<<< HEAD
  background-color: var(--colors-neutral-900);
=======
  background-color: var(--colors-primary-900);
>>>>>>> badc4c595c5347b0b363af281e39aa3006faae62
  color: var(--colors-neutral-100);
}

.btn-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
<<<<<<< HEAD
  align-items: flex-end;
  gap: 0.5rem;
  min-width: 15rem;
  margin-left: 0.75rem;
}
.btn-wrapper > * {
  width: 100%;
}

.logo {
  background: url("./../src/assets/camwoodcandleswhitelogo.svg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  padding: 1.75rem;
  margin-top: 1rem;
}

@media (min-width: 48rem) {
  .logo {
    background: url("./../src/assets/camwoodcandles.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
  }
}
.about .about-title,
.about .about-slogan {
  font-weight: 700;
}
.about .about-title {
  font-size: min(1rem, 2vh);
}
.about .about-slogan {
  font-size: min(1.75rem, 5vh);
}
.about .about-info {
  padding-bottom: 5rem;
}

.points .points-grid {
  display: grid;
}
.points .points-grid .point {
  padding: 3rem 1rem 4rem;
}
.points .points-grid .point .point--desc {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5rem;
}
.points .point-icon {
  min-height: 2rem;
  min-width: 2rem;
  height: 3rem;
  width: 3rem;
}
.points #natural-substance {
  background: url("./../src/assets/icons/natural.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.points #burnefficency {
  background: url("./../src/assets/icons/burn-effiency.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.points #native {
  background: url("./../src/assets/icons/native.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.points #airquality {
  background: url("./../src/assets/icons/air-quality.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 48rem) {
  .about {
    padding: 5% 1rem 25%;
  }
  .about .about-slogan {
    font-size: 2rem;
  }

  .points-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 75rem) {
  .points-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.section-image {
  padding: 1.5rem;
}
.section-image > * {
  display: block;
  max-width: 100%;
  box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.5);
}

@media (min-width: 75rem) {
  .section-image {
    padding: 2rem;
  }
}
.slider {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  height: 100vh;
  width: 100%;
}

.slideshow-container {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
}
.slideshow-container .slide {
  height: 100%;
  width: 100%;
}
.slideshow-container .slide .slide-image,
.slideshow-container .slide .slide-info {
  min-height: 50%;
  height: 50%;
}
.slideshow-container .slide .slide-info {
  display: grid;
  place-items: center;
}
.slideshow-container .slide .slide-info h2 {
  margin-top: 1rem;
}
.slideshow-container .slide .slide-info .product-description {
  list-style: none;
  padding-left: 0;
  font-size: min(3.5vw, 1rem);
}
.slideshow-container .slide .slide-info .product-description li {
  padding-bottom: 0.5rem;
}
.slideshow-container .slide .slide-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider-btn {
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colors-neutral-100);
  color: var(--colors-primary-800);
  min-height: 1rem;
  min-width: 3rem;
  height: 1rem;
  width: 3rem;
  border-radius: 2rem;
}

@media (min-width: 48rem) {
  .slider {
    position: relative;
    min-height: 40vh;
    height: 40vh;
  }

  .slide-image,
.slide-info {
    min-height: 100% !important;
    height: 100% !important;
  }

  .slide-info {
    place-items: flex-start !important;
  }
  .slide-info h2 {
    margin-top: 2rem !important;
  }

  .slider-btn {
    bottom: 2rem;
    top: auto;
  }
}
@media (min-width: 75rem) {
  .slider {
    min-height: 60vh;
    height: 60vh;
  }
  .slider .slide-info .container h2 {
    margin-top: 4rem !important;
  }
  .slider .product-description li {
    padding-bottom: 1rem !important;
  }
}
.gallery-grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
.gallery-grid .grid--item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding-bottom: 2rem;
}

@media (min-width: 48rem) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 2rem;
  }
}
@media (min-width: 75rem) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.contact-form-wrapper {
  width: min(90%, 30rem);
  padding: 3rem 1rem;
  margin-inline: auto;
}
.contact-form-wrapper h2 {
  color: var(--colors-primary-800);
  margin: 0;
}
.contact-form-wrapper .contact-grid {
  display: grid;
  margin-inline: auto;
  padding-block: 2rem;
  gap: 1rem;
}
.contact-form-wrapper .contact-grid .contact-method {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.45rem;
}
.contact-form-wrapper .contact-grid .contact-method i,
.contact-form-wrapper .contact-grid .contact-method p {
  color: var(--colors-neutral-100);
}
.contact-form-wrapper .contact-grid .contact-method p {
  margin: 0;
}

#map {
  min-height: 50vh;
  z-index: 0;
}

@media (min-width: 48rem) {
  .contact-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #map {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 50%;
  }
}
@media (min-width: 75rem) {
  .contact-form-wrapper {
    margin-left: 1rem;
  }
}
.contact-form {
  display: flex;
  flex-flow: column;
  margin-inline: auto;
}
.contact-form button {
  width: min(100%, 10em);
}

.serverMessage {
  padding: 0.75rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
}

.form-control {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

label {
  font-size: 0.75rem;
}

input,
textarea {
  width: -webkit-fill-available;
  outline: none;
  border: none;
  padding: 1rem;
  font-family: var(--font-family-Bitter), var(--font-family-Arial);
  background-color: var(--colors-neutral-600);
  color: var(--colors-neutral-100);
  resize: none;
}
=======
  align-items: center;
  gap: 1rem;
}
.btn-wrapper > * {
  flex-basis: 100%;
}

.mobile-btn {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  padding: 1.1rem 1rem;
  background-color: var(--colors-neutral-100);
  color: var(--colors-primary-500);
  border-radius: 100%;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
  box-shadow: var(--colors-primary-500);
  border: none;
  z-index: 2;
}
.mobile-btn .hamburger {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: self-end;
  min-height: 1.7rem;
  min-width: 1.7rem;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 auto;
}
.mobile-btn .hamburger span {
  min-height: 100%;
  min-width: 100%;
  height: 3px;
  width: 3px;
  background: var(--colors-neutral-100);
  border-radius: 0.5rem;
}
.mobile-btn .hamburger span:nth-of-type(1) {
  width: 90%;
  min-width: 90%;
}
.mobile-btn .hamburger span:nth-of-type(3) {
  width: 70%;
  min-width: 70%;
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  right: 5%;
  background-color: var(--colors-neutral-800);
  color: var(--colors-neutral-100);
  padding: 1rem 0 4rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem 0.5rem 0 0;
  width: min(360px, 90%);
  z-index: 2;
}
.mobile-menu h2 {
  margin: 0.83rem 0;
  padding: 1rem 0.85rem 0;
  font-size: 1.75rem;
}
.mobile-menu .close {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
.mobile-menu .menu {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 1rem;
  padding: 0;
  list-style: none;
  gap: 0.65rem;
}
.mobile-menu .menu li {
  width: 100%;
}
.mobile-menu .menu .menu--item a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--colors-neutral-100);
  cursor: pointer;
}

.active-link {
  background-color: var(--colors-neutral-700);
  font-weight: var(--font-weight-700);
  border-radius: 0.3rem;
}

@media (min-width: 75rem) {
  .mobile-btn {
    display: none;
  }
}
>>>>>>> badc4c595c5347b0b363af281e39aa3006faae62

/*# sourceMappingURL=styles.css.map */
